<html>
<head>
<title>Tic Tac Toe</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/js/ttt.js"></script>

</head>
<body onload="init()">

  <h1> Tic Tac Toe </h1>
  <div id="content">
	</div>

</body>
</html>

